.hero {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:  #da9a4e;
  background-image: url("../images/asfalt-light.png");
}
.hero h2 {
  margin: 0;
}
@media (min-width: 1024px) {
  .hero {
    height: 15em;
    max-width: 34%;
    position: fixed;
    top: 7em;
    left: 4.5%;
  }
  .hero img {
    height: 8em;
    width: 8em;
  }
}